*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Arial', sans-serif;
  background-color: #f1f5f8;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2em;
}

button{
  font-family: inherit;
}

.title{
  color: #102b42;
}

.count{
  font-size: 3em;
  font-weight: bold;
  color: #007f00;
}

.decrease, .increase, .reset{
  text-transform: uppercase;
  border: solid;
  background-color: transparent;
  border-width: 3px;
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  border-color: #383939;
  transition: 0.3s;
  letter-spacing: 0.3em;
  text-align: justify;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.decrease:active, .increase:active, .reset:active{
  opacity: 0.5;
}

.decrease:hover, .reset:hover{
  background-color: #383939;
  color: white;
}

.increase:hover{
  background-color: #0759c9;
  color: white;
}

.increase{
  border-color: #0759c9;
}