*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #212121;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 2em;

  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container{
  background-image: linear-gradient(to bottom right, #4dc5ac, #54869a, #57658d);
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.search-bar-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.search-bar{
  border: none;
  outline: none;
  border-radius: 1.5rem;
  padding: 0.8rem;
  flex: 1;
  font-size: 0.5em;
}

.search-btn{
  border: none;
  outline: none;
  padding: 0.8rem;
  border-radius: 25px;
  width: 50px;
  background: #ebfffc;
  cursor: pointer;
  transition: 0.2s;
}

.search-btn:active{
  opacity: 0.5;
}

.weather-degrees{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.degrees-text{
  font-size: 2em;
  font-weight: 700;
}

.weather-info{
  display: flex;
  gap: 1em;
  margin-top: 30px;
}

.left-container, .right-container{
  display: flex;
}

.info-number{
  font-size: 0.7em;
}

.info-text{
  font-size: 0.5em;
}

.bottom-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.bottom-container img{
  width: 40px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.weather{
  display: none;
}

.error-message{
  display: none;
  font-size: 0.6em;
  color: rgb(254, 52, 52);
}